html {
	font-family: Ubuntu, sans-serif;
	font-weight: 400;
}

body * {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.article {
	padding-top: 80px;
	padding-bottom: 120px;
}

.container {
	max-width: 1250px;
	margin: 0px auto;
	padding: 0px 15px;
}

.article-title {
	font-family: Oswald;
	font-weight: 600;
	font-size: 48px;
	line-height: 115%;
	text-transform: uppercase;
	color: #2c332f;
	margin-bottom: 40px;
	max-width: 596px;
}

.article-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #535755;
	margin-bottom: 20px;
}

.article-mb {
	margin-bottom: 80px;
}

.image {
	width: 100%;
	margin-bottom: 80px;
}

.article-title-medium {
	font-size: 36px;
}

.article-list {
	margin-top: 0px;
	padding-left: 14px;
}

.article-item {
	margin-bottom: 12px;
}

.video {
	margin-bottom: 40px;
	width: 100%;
}
