* {
	box-sizing: border-box;
}

body {
	margin: 30px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 20px;
}

td,
th,
caption {
	border: 1px solid #000;
}

caption {
	border-bottom: none;
}

.mounth {
	font-weight: 800;
}

.rest {
	color: red;
}
