* {
	box-sizing: border-box;
	background-color: rgb(209, 184, 184);
}

body {
	margin: 20px;
	font-family: sans-serif;
}

.fieldset {
	display: inline-block;
	border-width: 3px;
	border-style: solid black;
	border-radius: 15px;
	height: auto;
	width: 350px;
	max-width: 350px;
}

.h2 {
	font-size: 18px;
	margin: 10px 0px 3px 0px;
}

.label {
	display: inline-block;
}

.input {
	display: block;
	border-width: 2px;
	border-style: solid black;
	border-radius: 10px;
	width: 250px;
	margin: 3px 0 4px 0;
	padding: 3px;
}

.textarea {
	display: block;
	border-width: 2px;
	border-style: solid black;
	border-radius: 10px;
	width: 250px;
	max-width: 250px;
	min-width: 250px;
	height: 50px;
	max-height: 150px;
	min-height: 50px;
	margin: 3px 0 4px 0;
	padding: 3px;
}

.button {
	display: block;
	cursor: pointer;
	border-width: 3px;
	border-radius: 10px;
	border-color: rgb(226, 40, 40);
	margin: 3px 0px 0px 0px;
}
