.extra-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1440px; /* Ограничение максимальной ширины */
	margin: 0 auto; /* Центрирование */
	background-color: #000;
	color: #ffffff;
	text-align: center;
	padding-top: 8px;
}

.extra-header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 1240px;
	margin: 0 auto; /* Центрирование */
	background-color: #000000;
}

.extra-header-text {
	width: 86%; /* Занимает 1240px ширины родителя */
	max-width: 1240px; /* Ограничение максимальной ширины */
	margin: 0 auto; /* Центрирование */
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	font-family: "Satoshi", sans-serif;
	font-size: 14px;
	font-weight: 300;
}

@media (width <= 802px) {
	.extra-header-text {
		font-size: 12px;
	}
}

@media (width <= 698px) {
	.extra-header-text {
		font-size: 10px;
	}
}

.extra-header-link-registration {
	color: inherit;
	font-family: "Satoshi", sans-serif;
	font-size: 14px;
	font-weight: 500;
}

@media (width <= 802px) {
	.extra-header-link-registration {
		font-size: 12px;
	}
}

@media (width <= 698px) {
	.extra-header-link-registration {
		font-size: 10px;
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
	background-color: #fff;
	padding-top: 24px;
	padding-bottom: 24px;
	white-space: nowrap;
}

@media (width <= 530px) {
	.header {
		padding-top: 12px;
		padding-bottom: 12px;
	}
}

.burger-menu {
	background: none;
	border: none;
	padding-top: 5px;
	padding-bottom: 0px;
	padding-right: 10px;
	padding-left: 0px;
}

@media (width > 950px) {
	.burger-menu {
		display: none;
	}
}

.link-logo-header {
	color: #000;
	text-decoration: none;
	font-family: "Integral-CF", sans-serif;
	font-size: 32px;
	font-weight: 700;
	padding-right: 40px;
}

@media (width <= 900px) {
	.link-logo-header {
		padding-right: 5px;
	}
}

@media (width <= 530px) {
	.link-logo-header {
		flex-grow: 1;
	}
}

.navbar-header {
	padding-right: 40px;
}

.nav-list {
	display: flex;
	list-style: none; /* Убирает маркеры */
	padding: 0;
	gap: 24px; /* Отступы между элементами */
	margin: 0; /* Сбрасывает внешние отступы */
}

@media (width <= 950px) {
	.nav-list {
		display: none;
	}
}

.nav-item {
	color: #000;
	text-decoration: none;
	font-family: "Satoshi", sans-serif;
	font-size: 16px;
	font-weight: 300;
}

.search-form-header {
	display: flex;
	padding-right: 55px;
	width: 462px;
	height: 48px;
}

@media (width <= 530px) {
	.search-form-header {
		padding-right: 0px;
		width: 40px;
	}
}

.search-button-header {
	border: none;
	background: none;
}

.search-input-header {
	background-color: #f0f0f0;
	border-radius: 25px;
	border: none;
	width: 100%;
	height: 100%;
}

@media (width <= 530px) {
	.search-input-header {
		display: none;
	}
}

.header-actions {
	display: flex;
	gap: 14px;
	border: none;
	background: none;
}

.main {
	display: flex;
	max-width: 1440px; /* Ограничение максимальной ширины */
	margin: 0 auto; /* Центрирование */
	background-color: #f2f0f1;
	color: #000;
	text-align: center;
}

.container-main {
	display: flex;
	flex-direction: grow;
	width: 1240px;
	margin: 0 auto; /* Центрирование */
	background-color: #f2f0f1;
}

@media (width <= 530px) {
	.container-main {
		flex-direction: column;
	}
}

.container-main-text {
	display: flex;
	flex-direction: column;
	max-width: 644px;
	width: 100%;
}

.big-text {
	font-family: "Integral-CF", sans-serif;
	font-weight: 900;
	font-size: 57px;
	line-height: 112%;
	color: #000;
	text-align: left;
	padding-top: 106px;
}

@media (width <= 1172px) {
	.big-text {
		font-size: 35px;
	}
}

@media (width <= 955px) {
	.big-text {
		font-size: 32px;
		padding-top: 50px;
	}
}

@media (width <= 873px) {
	.big-text {
		padding-top: 40px;
	}
}

.small-text {
	font-family: "Satoshi", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 138%;
	color: rgba(0, 0, 0, 0.6);
	text-align: left;
	padding-top: 34px;
	margin: 0px;
}

@media (width <= 955px) {
	.small-text {
		font-size: 14px;
	}
}

@media (width <= 873px) {
	.small-text {
		padding-top: 20px;
	}
}

.button-main {
	display: flex;
	background-color: #000;
	font-family: "Satoshi", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #fff;
	padding: 15px 30px;
	border: none;
	border-radius: 30px;
	text-align: left;
	width: fit-content;
	cursor: pointer;
	margin-top: 32px;
}

@media (width <= 873px) {
	.button-main {
		margin-top: 23px;
	}
}

@media (width <= 530px) {
	.button-main {
		width: auto;
		height: 100%;
		justify-content: center; /* Горизонтальное центрирование */
		align-items: center; /* Вертикальное центрирование */
		margin-left: 16px;
		margin-right: 16px;
	}
}

.section-main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 60px;
	padding-top: 48px;
	padding-bottom: 116px;
}

@media (width <= 873px) {
	.section-main {
		padding-bottom: 50px;
		padding-top: 20px;
	}
}

@media (width <= 815px) {
	.section-main {
		gap: 15px;
	}
}

@media (width <= 530px) {
	.section-main {
		padding-bottom: 0px;
	}
}

.h2-section-main {
	font-family: "Satoshi", sans-serif;
	font-weight: 700;
	font-size: 40px;
	color: #000;
	text-align: left;
	margin: 0px;
}

@media (width <= 1100px) {
	.h2-section-main {
		font-size: 30px;
	}
}

@media (width <= 1000px) {
	.h2-section-main {
		font-size: 24px;
	}
}

.p-h2-section-main {
	font-weight: 400;
	font-size: 16px;
	line-height: 138%;
	color: rgba(0, 0, 0, 0.6);
	margin: 0px;
}

@media (width <= 1000px) {
	.p-h2-section-main {
		font-size: 12px;
	}
}

.container-main-images {
	position: relative; /* Контейнер для позиционирования */
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center; /* Горизонтальное центрирование */
	align-items: center; /* Вертикальное центрирование */
}

@media (width <= 530px) {
	.container-main-images {
		width: 100%;
	}
}

.humans-img {
	display: flex;
	width: 100%;
	height: 100%;
	object-fit: fill;
}

@media (width <= 530px) {
	.humans-img {
		display: flex;
		max-width: 390px;
		width: 100%;
		justify-content: center; /* Горизонтальное центрирование */
		align-items: center; /* Вертикальное центрирование */
	}
}

.vector-small-img {
	position: absolute; /* Абсолютное позиционирование */
	top: 297px; /* Отступ сверху */
	left: 20px; /* Отступ слева */
	width: 56px; /* Размер накладки */
	z-index: 10; /* Наложение поверх */
}

.vector-big-img {
	position: absolute; /* Абсолютное позиционирование */
	top: 86px; /* Отступ сверху */
	right: 20px; /* Отступ слева */
	width: 104px; /* Размер накладки */
	z-index: 10; /* Наложение поверх */
}

.container-brands {
	display: flex;
	max-width: 1440px; /* Ограничение максимальной ширины */
	margin: 0 auto; /* Центрирование */
	background-color: #000;
	color: #ffffff;
}

.brands-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1240px;
	margin: 0 auto; /* Центрирование */
	background-color: #000000;
	padding-top: 43px;
	padding-bottom: 43px;
	gap: 20px;
}

.logo-brand {
	max-width: 100%; /* Картинка не шире контейнера */
	height: auto; /* Пропорции сохраняются */
}

.container-new-arrivals {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
	background-color: #fff;
	white-space: nowrap;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.title-container {
	display: flex;
	margin: 0 auto;
	font-family: "Integral-CF-Heavy", sans-serif;
	font-weight: 900;
	font-size: 48px;
	text-align: center;
	color: #000;
	padding-top: 72px;
	padding-bottom: 55px;
	white-space: wrap;
}

@media (width <= 768px) {
	.title-container {
		font-size: 30px;
	}
}

.container-sections-clothes {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.section-clothes {
	display: flex;
	flex-direction: column;
}

/*ЛИШНИЕ УБИРАЮТСЯ НА ЭТОЙ ШИРИНЕ!!! */

@media (width <= 920px) {
	.special {
		display: none;
	}
}

.cloth-img {
	max-width: 100%; /* Ширина не больше родителя */
	height: auto; /* Высота меняется пропорционально */
}

@media (width <= 400px) {
	.cloth-img {
		width: 175px;
		height: 200px;
	}
}

.name-of-cloth {
	font-family: "Satoshi", sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: #000;
	margin: 0;
	padding-top: 20px;
}

@media (width <= 768px) {
	.name-of-cloth {
		font-size: 15px;
	}
}

.grade-container {
	display: flex;
	align-items: center;
}

.grade-img {
	padding-right: 13px;
}

.grade-number {
	font-family: "Satoshi", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #000;
}

.price-container {
	display: flex;
	align-items: center;
}

.true-price {
	font-family: "Satoshi", sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: #000;
	padding-right: 10px;
}

@media (width <= 768px) {
	.true-price {
		font-size: 18px;
	}
}

.past-price {
	font-family: "Satoshi", sans-serif;
	font-weight: 700;
	font-size: 24px;
	text-decoration: line-through;
	color: rgba(0, 0, 0, 0.4);
	padding-right: 10px;
}

@media (width <= 768px) {
	.past-price {
		font-size: 18px;
	}
}

.sale {
	font-family: "Satoshi", sans-serif;
	font-weight: 500;
	font-size: 12px;
	color: #f33;
	border-radius: 62px;
	padding: 6px 14px;
	background: rgba(255, 51, 51, 0.1);
	width: fit-content;
}

@media (width <= 768px) {
	.sale {
		font-size: 10px;
	}
}

@media (width <= 400px) {
	.sale {
		display: none;
	}
}

.button-clothes {
	background-color: #fff;
	font-family: "Satoshi", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #000;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 62px;
	padding: 16px 54px;
	width: fit-content;
	margin: 15px auto 64px;
	cursor: pointer;
}

@media (width <= 768px) {
	.sale {
		font-size: 14px;
	}
}

.container-leaders {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
	background-color: #fff;
	white-space: nowrap;
}

.container-choice-of-style {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
	background-color: #f0f0f0;
	white-space: nowrap;
	border: none;
	border-radius: 40px;
}

.container-style-images {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin: 0 auto;
	padding-bottom: 76px;
}

.style-images {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.style-1-img {
	max-width: 100%;
	height: auto;
}

@media (width <= 1110px) {
	.style-1-img {
		margin: 0 auto;
	}
}

.style-2-img {
	max-width: 100%;
	height: auto;
}

@media (width <= 1110px) {
	.style-2-img {
		margin: 0 auto;
	}
}

.style-3-img {
	max-width: 100%;
	height: auto;
}

@media (width <= 1110px) {
	.style-3-img {
		margin: 0 auto;
	}
}

.style-4-img {
	max-width: 100%;
	height: auto;
}

@media (width <= 1110px) {
	.style-4-img {
		margin: 0 auto;
	}
}

.header-reviews {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
	background-color: #fff;
	white-space: nowrap;
}

.header-reviews {
	padding-top: 80px;
	padding-bottom: 20px;
}

.title-reviews {
	display: flex;
	font-family: "Integral-CF-Heavy", sans-serif;
	font-weight: 900;
	font-size: 48px;
	color: #000;
	white-space: wrap;
	margin: 0;
}

@media (width <= 768px) {
	.title-reviews {
		font-size: 30px;
	}
}

.button-carousel {
	display: flex;
	gap: 16px;
}

.left-button {
	background: transparent; /* Убирает фон */
	border: none; /* Убирает границу */
	outline: none; /* Убирает контур при клике/фокусе */
	padding: 0; /* Убирает внутренние отступы */
	cursor: pointer; /* Возвращает курсор-руку */
}

.right-button {
	background: transparent; /* Убирает фон */
	border: none; /* Убирает границу */
	outline: none; /* Убирает контур при клике/фокусе */
	padding: 0; /* Убирает внутренние отступы */
	cursor: pointer; /* Возвращает курсор-руку */
}

.container-sections-reviews {
	display: flex;
	gap: 20px;
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
	background-color: #fff;
	white-space: nowrap;
}

.section-reviews {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	padding: 28px 32px;
	width: 400px;
	height: 240px;
}

@media (width <= 855px) {
	.section-reviews {
		display: none;
	}
}

.aroken {
	display: none;
}

@media (width <= 855px) {
	.aroken {
		display: block;
		margin: 0 auto;
	}
}

.author-of-review {
	display: flex;
	align-items: center;
	font-family: "Satoshi", sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 110%;
	color: #000;
	gap: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.text-review {
	width: 100%;
	box-sizing: border-box;
	white-space: wrap;
	font-family: "Satoshi", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 138%;
	color: rgba(0, 0, 0, 0.6);
	margin-top: 15px;
	margin-bottom: 15px;
}

.container-section-subscription {
	display: flex;
	width: 100%;
	max-width: 1440px; /* Ограничение максимальной ширины */
	margin: 80px auto 0px; /* Центрирование */
	background: linear-gradient(to bottom, #fff 50%, #f0f0f0 50%);
}

.section-subscription {
	display: flex;
	width: 100%;
	max-width: 1240px;
	border-radius: 20px;
	margin: 0 auto; /* Центрирование */
	background-color: #000000;
}

.wrapper-section-subscription {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1112px;
	margin: 36px auto 36px; /* Центрирование */
	background-color: #000000;
	padding-left: 15px;
	padding-right: 15px;
}

@media (width <= 768px) {
	.wrapper-section-subscription {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.title-section-subscription {
	font-family: "Integral-CF", sans-serif;
	font-weight: 900;
	font-size: 40px;
	line-height: 113%;
	color: #fff;
	width: 62%;
	height: auto;
	white-space: wrap;
	margin: 0;
}

@media (width <= 768px) {
	.title-section-subscription {
		font-size: 30px;
	}
}

.wrapper-input-subscription {
	display: flex;
	flex-direction: column;
}

.input-subscription {
	border-radius: 62px;
	width: 349px;
	height: 48px;
	border: none;
	background-color: #fff;
	margin-bottom: 14px;
	padding-left: 45px; /* Сдвигает и placeholder, и текст */
	box-sizing: border-box; /* Чтобы padding не увеличивал ширину */
	background-image: url(/images/envelope.png);
	background-repeat: no-repeat;
	background-position: 15px center;
	background-size: 20px;
}

@media (width <= 768px) {
	.input-subscription {
		margin-top: 32px;
	}
}

@media (width <= 390px) {
	.input-subscription {
		width: 340px;
	}
}

input::placeholder {
	color: rgba(0, 0, 0, 0.4);
	font-family: "Satoshi", sans-serif;
	font-size: 16px;
}

.button-subscription {
	border-radius: 62px;
	width: 349px;
	height: 46px;
	cursor: pointer;
	background-color: #fff;
	font-family: "Satoshi", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #000;
}

@media (width <= 390px) {
	.button-subscription {
		width: 340px;
	}
}

.container-sections-about-shop {
	display: flex;
	width: 100%;
	max-width: 1440px; /* Ограничение максимальной ширины */
	padding-top: 50px;
	margin: 0 auto; /* Центрирование */
	background-color: #f0f0f0;
}

.sections-about-shop {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1240px;
	margin: 0 auto; /* Центрирование */
	background-color: #f0f0f0;
	padding-bottom: 50px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media (width <= 855px) {
	.sections-about-shop {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
}

@media (width <= 768px) {
	.sections-about-shop {
		padding-bottom: 110px;
	}
}

.first-section {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 248px;
	height: 100%;
	max-height: 177px;
}

@media (width <= 855px) {
	.first-section {
		width: 100%;
		max-width: 345px;
		height: 100%;
		max-height: 177px;
	}
}

.link-logo-section-about-shop {
	color: #000;
	text-decoration: none;
	font-family: "Integral-CF", sans-serif;
	font-size: 32px;
	font-weight: 700;
	padding-right: 40px;
}

@media (width <= 855px) {
	.link-logo-section-about-shop {
		font-size: 28px;
	}
}

.text-section-about-shop {
	font-family: "Satoshi", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 157%;
	color: rgba(0, 0, 0, 0.6);
}

.mini-container-img-link {
	display: flex;
}

.other-section {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 162px;
	height: 100%;
	max-height: 177px;
}

@media (width <= 855px) {
	.other-section {
		height: 100%;
		max-height: 185px;
	}
}

.title-other-section-about-shop {
	font-family: "Satoshi", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 113%;
	letter-spacing: 0.19em;
	text-transform: uppercase;
	color: #000;
	margin: 0;
}

@media (width <= 768px) {
	.title-other-section-about-shop {
		font-weight: 500;
		font-size: 14px;
		line-height: 129%;
		letter-spacing: 0.21em;
		text-transform: uppercase;
		color: #000;
	}
}

.link-other-section-about-shop {
	text-decoration: none;
	font-family: "Satoshi", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 119%;
	color: rgba(0, 0, 0, 0.6);
	margin-top: 17px;
}

@media (width <= 768px) {
	.link-other-section-about-shop {
		font-weight: 400;
		font-size: 14px;
		line-height: 114%;
		color: rgba(0, 0, 0, 0.6);
	}
}

.footer {
	display: flex;
	width: 100%;
	max-width: 1440px; /* Ограничение максимальной ширины */
	margin: 0 auto; /* Центрирование */
	background-color: #f0f0f0;
}

.container-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1240px;
	margin: 0 auto; /* Центрирование */
	background-color: #f0f0f0;
	padding-top: 20px;
	padding-bottom: 75px;
}

@media (width <= 768px) {
	.container-footer {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
}

.rights {
	font-family: "Satoshi", sans-serif;
	font-weight: 400;
	font-size: 14px;
	text-align: right;
	color: rgba(0, 0, 0, 0.6);
	margin: 0;
}

@media (width <= 636px) {
	.rights {
		padding-bottom: 16px;
	}
}
