html {
	font-family: Oswald, Ubuntu, sans-serif;
	font-weight: 400px;
}

body * {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.container {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0px 15px;
}

.article {
	padding-top: 80px;
	padding-bottom: 120px;
}

.section-1 {
	margin-bottom: 140px;
	max-width: 1250px;
	max-height: 513px;
	display: flex;
}

.section-1-1 {
	margin-right: 28px;
	max-width: 492px;
	max-height: 513px;
	display: block;
}

.h1-start {
	margin-bottom: 40px;
	font-size: 62px;
	text-transform: uppercase;
	line-height: 115%;
	color: #2c332f;
}

.p1-1 {
	margin-bottom: 140px;
	font-family: Ubuntu;
	font-size: 16px;
	line-height: 130%;
	color: #535755;
}

.mini-section-1-1 {
	max-width: 270px;
	max-height: 57px;
}

.mini-p1-1 {
	padding: 19px 32px 19px 32px;
	font-family: Ubuntu;
	font-size: 15px;
	line-height: 130%;
	color: #fff;
	text-transform: uppercase;
}

.section-1-2 {
	display: flex;
}

.section-2 {
	margin-bottom: 140px;
	max-width: 1250px;
	max-height: 437px;
}

.section-2-1 {
	margin-bottom: 40px;
	max-width: 492px;
	max-height: 55px;
	display: inline;
}

.h2-middle {
	margin-bottom: 40px;
	font-size: 48px;
	text-transform: uppercase;
	line-height: 115%;
	color: #2c332f;
}

.section-2-2 {
	max-width: 1250px;
	max-height: 342px;
	display: flex;
}

.section-2-2-1 {
	margin-right: 28px;
	border: 1px solid #858e8a;
	max-width: 284px;
	max-height: 350px;
	height: 347px;
	display: block;
}

.p-2-2-1 {
	margin: 20px 20px 8px 20px;
	font-family: Ubuntu;
	color: #858e8a;
	font-size: 14px;
	line-height: auto;
}

.p-2-2-2 {
	margin: 0px 20px 12px 20px;
	font-family: Ubuntu;
	color: #2c332f;
	font-size: 16px;
}

.a-2-2-3 {
	margin: 0px 148px 20px 20px;
	font-family: Ubuntu;
	color: #3596ed;
	font-size: 16px;
	line-height: 130%;
	text-decoration: none;
}

.section-2-2-2 {
	margin-right: 28px;
	border: 1px solid #858e8a;
	max-width: 284px;
	max-height: 350px;
	height: 347px;
	display: block;
}

.section-2-2-3 {
	margin-right: 28px;
	border: 1px solid #858e8a;
	max-width: 284px;
	max-height: 350px;
	height: 347px;
	display: block;
}

.section-2-2-4 {
	margin-right: 28px;
	border: 1px solid #858e8a;
	max-width: 284px;
	max-height: 350px;
	height: 347px;
	display: block;
}

.section-3 {
	max-width: 1250px;
	max-height: 626px;
}

.section-3-text {
	margin-bottom: 20px;
	width: 492px;
	max-width: 492px;
	height: 55px;
	max-height: 55px;
	display: inline;
}

.h2-bottom {
	margin-bottom: 20px;
	font-size: 48px;
	text-transform: uppercase;
	line-height: 115%;
	color: #2c332f;
	display: inline;
}
.section-3-3 {
	margin-top: 20px;
	max-width: 1250px;
	max-height: 531px;
	display: flex;
}

.section-3-3-1 {
	margin-right: 28px;
	max-width: 492px;
	max-height: 531px;
}

.section-3-3-2 {
	width: 700px;
	max-width: 700px;
	height: 531px;
	max-height: 531px;
}

.section-3-3-2-1 {
	padding-top: 20px;
	margin-right: 12px;
	margin-bottom: 20px;
	margin-left: 20px;
	border-top: 1px solid #858e8a;
	border-bottom: 1px solid #858e8a;
	width: 700px;
	max-width: 700px;
	height: 151px;
	max-height: 151px;
}

.h3-bottom {
	font-size: 24px;
	text-transform: uppercase;
	line-height: 115%;
	color: #2c332f;
	display: inline;
}

.p3-bottom {
	margin: 20px 20px 20px 0px;
	font-family: Ubuntu;
	font-size: 16px;
	line-height: 130%;
	color: #535755;
	display: block;
}

.section-3-3-2-2 {
	margin: 20px 20px 20px 20px;
	border-bottom: 1px solid #858e8a;
	width: 700px;
	max-width: 700px;
	height: 68px;
	max-height: 68px;
}

.section-3-3-2-3 {
	margin: 20px 20px 20px 20px;
	border-bottom: 1px solid #858e8a;
	width: 700px;
	max-width: 700px;
	height: 68px;
	max-height: 68px;
}

.section-3-3-2-4 {
	margin: 20px 20px 20px 20px;
	border-bottom: 1px solid #858e8a;
	width: 700px;
	max-width: 700px;
	height: 68px;
	max-height: 68px;
}

.section-3-3-2-5 {
	margin: 20px 20px 20px 20px;
	border-bottom: 1px solid #858e8a;
	width: 700px;
	max-width: 700px;
	height: 95px;
	max-height: 95px;
}
